import mysql.connector

conexao = mysql.connector.connect(

    host='localhost',
    user='root',
    password='',
    database='pygo',
)

cursor = conexao.cursor()
nome_produto = "Todynho"
valor = 6
#comando = f'SELECT*FROM python_int'
comando = f'DELETE FROM python_int WHERE nome_produto = "{"Todynho"}"'

#CRUD
#comando = f'UPDATE python_int SET valor = {valor} WHERE nome_produto = "{nome_produto}"'
# comando = f'INSERT INTO python_int (nome_produto, valor) VALUES("{nome_produto}",{valor})'
cursor.execute(comando)
conexao.commit() #criado para editar banco de dados
#resultado = cursor.fetchall() #ler o banco de dados
#print(resultado)
cursor.close()
conexao.close()

#Update
#comando = f'UPDATE python_int SET valor = {valor} WHERE nome_produto = "{nome_produto}"'

#Insert
# comando = f'INSERT INTO python_int (nome_produto, valor) VALUES("{nome_produto}",{valor})'

#Select

#comando = f'SELECT*FROM python_int'

#DELETE
#comando = f'DELETE FROM python_int WHERE nome_produto = "{Todynho}"'

